---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="Servicio">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Servicios"
      description="Los servicios que ofrecemos son los siguientes:"
    />
    <div class="rounded-[45px] bg-dark mb-[150px] text-white">
      <SwiperSlider />
    </div>
  </div>
</Section>
